body {
    background-color: #8A2BE2;
}

h1 {
    color: white;
    text-align: center;
    font-family: verdana    ;
    font-size:  65px  ;
}

p {
    color:  white;
    text-align: center;
    font-family: verdana;
    font-size: 30px;
}

p1 {
    color:  Yellow;
    text-align: center;
    font-family: verdana;
    font-size: 30px;
}

.image1 {
    Float: left;
    Width: 105px;
    Height: 105px;
}

.image2 {
    Float: right;
    Width: 105px;
    Height: 105px;
}

.image3{
    Height: 200px;
    Width: 215px;

}

.leader_table {
    Font-family: Verdana;
    width: 100%;
    Border-collapse: collapse;
    Text-align: left;
    Background-Color: #8A2BE2;
    color: yellow;
    Padding: 12px;
    Font-size: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.leader_table Tr:hover{
    Background-Color: white ;
    color: black ;
}

.leader_table Td, th{

    Border-bottom: 1px solid white;
    Padding: 8px;
}

.button_table {
    Font-family: Verdana;
    width:100%;
    Border-collapse: collapse;
    Text-align: left;
    Padding: 12px;
    Font-size: 30px;
    padding: 15px 35px;

}

.button_table button {
    Width:100%;
    Font-size: 30px;
    Border-radius: 12px ;
    Padding: 15px 35px;
    Background-Color:white;
}

.button_table td {
    width: 25%;
}

.button_table button:hover {
    Background-Color: black;
    color: white;
}
Form{
    Font-family: Verdana;
    Font-size:35px ;
    color: white;

}

.input1{
    width: 50%;
    height: 15px;
    padding: 16px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 6px;
    background-color: #f8f8f8;
    resize: none;
    Font-size:20px;

}

.input2{
    width: 50%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
    Font-size: 20px;

}

.input3 {
    font-size: 50px;
    Padding: 20px 35px;
    Cursor: pointer;
    Background-Color: white;
    Color: black;
}

a:link {
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    Font-family: Verdana, serif;
    border-radius: 12px;
}

a:hover, a:active {
    background-color: red;
}

.games_table button {
    Width:100%;
    Font-size: 30px;
    Border-radius: 12px ;
    Padding: 15px 35px;
    Background-Color:white;
}

.games_table td {
    width: 25%;
}

.games_table button:hover {
    Background-Color: red;
    color: black;
}

